{{> head }}
   
    {{> navbar }}
    <div class="row">
     <div class="col-8">
         <h1>No hay Imagen</h1>
     </div>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ad corporis tempore at blanditiis. Quia quod enim, facere corporis autem accusamus, voluptatum praesentium sapiente inventore quo sunt perferendis facilis sit.</p>
     <div class="col-4">
         <img src="assets/img/no-image.png" alt="" class="img-thumbnail">
     </div>
    </div>

 {{> footer }}